/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    color: #303030;
}


main {
    margin: 0 auto;
    width: 70%;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}
footer p {
    display: block;
}

a:hover {
    background-color: #aaaaaa;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 25%;
}

img.zweefRechts {
    float: right;
    margin-right: 15px;
    width: 25%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav li a.active {
    background-color: skyblue;
}

/* Hardware pagina */

#WIIMini, #WIIFamily {
    clear: both;
}

div.imageWithDescription {
  float: right;
  width: 30%;
  background-color: white;
  border: solid black;
  border-width: 0px 0px 1px 0px;
}

div.DescriptionOfImage {
  text-align: center;
}

.hardwaretext {
    float: left;
    width: 66%;
    margin-right: 2%;
}

/* Modding pagina */

#WIIinsides {
    width: 30%;
    float: right;
}