/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    font-family: 'Roboto', sans-serif;
    color: #303030;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}
footer p {
    display: block;
}

a:hover {
    background-color: #aaaaaa;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 25%;
}

img.zweefRechts {
    float: right;
    margin-right: 15px;
    width: 25%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: rgb(9, 0, 128);
}

/* Hardware pagina */

#WIIMini, #WIIFamily {
    clear: both;
}

div.imageWithDescription {
  float: right;
  width: 30%;
  background-color: white;
  border: solid black;
  border-width: 2px 0px;
}

div.DescriptionOfImage {
  text-align: center;
}

.hardwaretext {
    float: left;
    width: 66%;
    margin-right: 2%;
}